html {
    scroll-behavior: smooth;
}
body{
    /*background-image: url(/images/backgroundImage.jpg);*/
}
.container {
    display:flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    /*align-items:space-between ;*/
    height: 100vh;
    
    
    /*min-height: 100%;*/
}
h1 {
    text-align: center;
    border: 1px solid black ;
    padding: 25px;
    
}

div{
    border: 2px solid black;
    margin: 10px;

}
header{
    margin: 0;
}
.scoring{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 0px 25px 0px 25px;*/
    padding: 50px;
    
    
}
.choices{
    text-align: center;
}

.options{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    height: 250px;

}
#results{
    text-align: center;
    font-size: 50px;
}

.footer{
    text-align: center;
    justify-self: flex-end;
}