html {
    scroll-behavior: smooth;
}

body {
    
    min-height: 100%;
}
.container{
    display:flex;
    margin: 0;
    flex-direction: column;
    justify-content:space-between;
    
    min-height: 100%;
}
h1 {
    
}

div{
    border: 2px solid black;
    margin: 10px;
}